	
importFrom(stats, setNames, terms)
importFrom(graphics, abline, lines)

export(psmirnov, qsmirnov, ks.test, confband)

S3method(ks.test, default)
S3method(ks.test, formula)
S3method(confband, ks.test)
S3method(plot, confband.ks.test)

