
useDynLib(lehmann, .registration = TRUE)

importFrom("stats", "dlogis", "optim", "plogis", "qlogis", "qnorm",
           "quantile", "uniroot")


export(Schur_symtri, Lehmann)

S3method("Lehmann", "numeric")
S3method("Lehmann", "factor")
