
useDynLib(lehmann, .registration = TRUE)

importFrom("stats", "dlogis", "optim", "plogis", "qlogis", "qnorm",
           "quantile", "uniroot","r2dtable", "pnorm", "dnorm")


export(trafo.test)

S3method("trafo.test", "numeric")
S3method("trafo.test", "factor")
